
/* tree path style */
.pathgraph.bar.right {
    fill: steelblue;
}

.pathgraph.bar.left {
    fill: brown;
}

.pathgraph.text.text {
    font: 14px sans-serif;
    fill: black;
}

.axis line {
    fill: none;
    stroke: #000;
}

.container {
  float: left;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  stroke-width: 1.5px;
}
 
.tooltip text {
	font: 12px Helvetica;
	fill: black;
}

.node text {
  font: 12px Helvetica;
}
 
.link {
  fill: none;
  stroke: #ccc;
}