
/* page layout configuration */

#featureview {
  float: left;
  width: 10%;
  height: auto;
}

#modelview {
	float: left;
	width: 70%;
	height: auto;
}

#interactionview {
  float: right;
  width: 20%;
  height: auto;
}

#modelpathgraph {
	float: right;
	width: auto;
	height: auto;
}

#historygraph {
	float: right;
	width: auto;
  height: auto;
  text-align: left;
}

/* tree path style */
.pathgraph.bar.right {
    fill: steelblue;
}

.pathgraph.bar.left {
    fill: brown;
}

.pathgraph.text.text {
    font: 14px sans-serif;
    fill: black;
}

.axis line {
    fill: none;
    stroke: #000;
}

.container {
  float: left;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  stroke-width: 1.5px;
}

.node text {
  font: 12px Helvetica;
  pointer-events: None;
}


.link {
  fill: none;
  stroke: #ccc;
}

/* tooltip style */

.tooltip rect {
	cursor: pointer;
	fill: lightsteelblue;
	stroke-width: 1.5px;
	stroke: steelblue;
	opacity: 0.9;
} 

.tooltip rect.active {
	fill: lightsteelblue;
  stroke-width: 2.5px;
  stroke: yellow;
  opacity: 0.3;
}

.tooltip text {
  font: 12px Helvetica;
  font-weight: bold;
  fill: black;
  pointer-events: None;
}

/* history style */

.history rect {
  cursor: pointer;
  fill: lightsteelblue;
  stroke-width: 0px;
  stroke: steelblue;
  opacity: 0.6;
}

.history rect.active {
  fill: lightsteelblue;
  stroke-width: 3px;
  stroke: yellow;
  opacity: 0.3;
}

.history text {
  font: 14px Helvetica;
  font-weight: bold;
  fill: black;
  pointer-events: None;
}

.history text.active {
	cursor: pointer;
  font: 14px Helvetica;
  font-weight: bold;
  fill: black;
  background: lightsteelblue;
}


/* pretty html layout! */

h1 {
	font-family: helvetica;
	color: darkblue;
	text-align: center;
}

h2 {
  font-family: helvetica;
  color: steelblue;
  text-align: center;
}