
/* div style */

 .container div{
  position: absolute;
}

#modeltreegraph {
	float: left;
	width: 70%;
	height: 1000;
}

.c2 {
  float: right;
  width: 30%;
  height: auto;
}

#modelpathgraph {
	float: right;
	width: auto;
	height: auto;
}

#historygraph {
	float: right;
	width: auto;
  height: auto;
  text-align: left;
}

/* tree path style */
.pathgraph.bar.right {
    fill: steelblue;
}

.pathgraph.bar.left {
    fill: brown;
}

.pathgraph.text.text {
    font: 14px sans-serif;
    fill: black;
}

.axis line {
    fill: none;
    stroke: #000;
}

.container {
  float: left;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  stroke-width: 1.5px;
}

.node text {
  font: 12px Helvetica;
  pointer-events: None;
}

.tooltip rect {
	cursor: pointer;
	fill: lightsteelblue;
	stroke-width: 1.5px;
	stroke: steelblue;
	opacity: 0.9;
} 

.tooltip rect.active {
	fill: lightsteelblue;
  stroke-width: 2.5px;
  stroke: yellow;
  opacity: 0.3;
}

.tooltip text {
  font: 12px Helvetica;
  font-weight: bold;
  fill: black;
  pointer-events: None;
}

.history text {
	font: 12px Helvetica;
	font-weight: normal;
  fill: black;
  pointer-events: None;
}

.history rect {
  cursor: pointer;
  fill: lightsteelblue;
  stroke-width: 0px;
  stroke: steelblue;
  opacity: 0.9;
}

.history rect.active {
  fill: lightsteelblue;
  stroke-width: 2.5px;
  stroke: yellow;
  opacity: 0.3;
}

.history text.active {
	cursor: pointer;
  font: 12px Helvetica;
  font-weight: bold;
  fill: black;
  background: lightsteelblue;
}

.link {
  fill: none;
  stroke: #ccc;
}

/* pretty html layout! */
h1 {
	font-family: helvetica;
	text-align: center;
}