
/* page layout configuration */

#featureview {
  float: left;
  width: 15%;
  height: 100%;
  margin-left: 50;
  overflow-y: auto;
}

#modelview {
	float: left;
	width: 65%;
	height: auto;
}

#interactionview {
  float: right;
  width: 20%;
  height: auto;
}

#modelpathgraph {
	float: right;
	width: auto;
	height: auto;
}

#historygraph {
	float: right;
	width: auto;
	height: 300px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

#featuretable {
	height: 600px;
	overflow: auto;
}

/* tree path style */
.pathgraph.bar.right {
    fill: steelblue;
}

.pathgraph.bar.left {
    fill: brown;
}

.pathgraph.text.text {
    font: 14px Helvetica;
    fill: black;
}

.axis line {
    fill: none;
    stroke: #000;
}

.container {
  float: left;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  stroke-width: 1.5px;
}

.node text {
  font: 12px Helvetica;
  pointer-events: None;
}

.link {
  fill: none;
  stroke: #ccc;
  opacity: 0.7;
}

.link.active {
  fill: none;
  stroke: orange;
  opacity: 0.7;
}

/* tooltip style */

.tooltip rect {
	cursor: pointer;
	fill: lightsteelblue;
	stroke-width: 1.5px;
	stroke: steelblue;
	opacity: 0.9;
} 

.tooltip rect.active {
	fill: azure;
  stroke-width: 2.5px;
  stroke: yellow;
  opacity: 0.9;
}

.tooltip text {
  font: 12px Helvetica;
  font-weight: bold;
  fill: black;
  pointer-events: None;
}

.tooltip2 rect {
  cursor: pointer;
  fill: lightsteelblue;
  stroke-width: 1.5px;
  stroke: steelblue;
  opacity: 0.9;
} 

.tooltip2 rect.active {
  fill: azure;
  stroke-width: 2.5px;
  stroke: yellow;
  opacity: 0.9;
}

.tooltip2 text {
  font: 12px Helvetica;
  font-weight: bold;
  fill: black;
  pointer-events: None;
}

/* history style */

.history rect {
  cursor: pointer;
  fill: lightsteelblue;
  stroke-width: 0px;
  stroke: steelblue;
  opacity: 0.6;
}

.history rect.active {
  fill: lightsteelblue;
  stroke-width: 3px;
  stroke: yellow;
  opacity: 0.3;
}

.history text {
  font: 12px Helvetica;
  font-weight: normal;
  fill: black;
  pointer-events: None;
}

.history text.active {
	cursor: pointer;
  font: 14px Helvetica;
  font-weight: bold;
  fill: black;
  background: lightsteelblue;
}

/* hierarchical feature table style */
.featnode rect {
  cursor: pointer;
  fill: #fff;
}

.featnode rect.active {
  stroke-width: 3px;
  stroke: yellow;
  opacity: 0.3;
}


.featnode text {
  font: 12px Helvetica;
  pointer-events: None;
}

/* pretty html layout! */

h1 {
	font-family: helvetica;
	color: darkblue;
	text-align: center;
}

h2 {
  font-family: helvetica;
  color: steelblue;
  text-align: center;
}

.google.button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

.parainput {
	width: 30px;
	height: 18px;
	font: 14px helvetica normal;
	color: #333;
}

label {
	font: 14px helvetica normal;
	color: #333;
}